{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'mainApp/css/wrapper_styles.css' %}" type="text/css">

<body>
	<form action="" method="post">
		<div class="field_log">
			{% csrf_token %}
		    <!-- as_p для того, чтобы каждый элемент формы был с новой строки -->
		    {{ form.as_p }}
		    <button class="but-log" type="submit">Войти</button>
		</div>
	</form>
	{% load static %}
	<script src="{% static 'accountApp/js/user_script.js' %}"></script>
</body>
</html>
{% endblock %}