{% extends "mainApp/wrapper.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	{% load static %}
	<link rel="stylesheet" href="{% static 'mainApp/css/wrapper_styles.css' %}" type="text/css">

<body>
	<div class="wrap">
		<ul class="nav sign_nav" id="myTab" role="tablist">
			<li class="nav-item sign-item">
			    <a class="nav-link sign-link sign-link-active" id="10" href="login.html">Авторизация</a>
			</li>
			<li class="nav-item sign-item">
			    <a class="nav-link sign-link" id="11" href="register.html">Регистрация</a>
			</li>
		</ul>
		<form action="" method="post">
			<div class="field_log">
				{% csrf_token %}
			    <!-- as_p для того, чтобы каждый элемент формы был с новой строки -->
			    {{ form.as_p }}
			    <button class="but-log" type="submit">Войти</button>
			</div>
		</form>
	</div>
	
</body>
</html>
{% endblock %}