{% extends "mainApp/wrapper.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    {% if user.is_authenticated %}
    <div class="row">
        <div class="offset-1 col-3">
            <img src="../../static/accountApp/img/s1200.jpg" alt="" class="profile_img">
            <a href="/account/logout.html" class="exit">Выход</a>
            
        </div>
        <div class="offset-1 col-7">
            <h3 class="profile_name">{{user.username}}</h3>
             <p class="profile_info">{{ info }}</p>
        </div>
        <div class="offset-1 col-3">
            <a class="google" href='{% url "social:begin" "google-oauth2" %}'>Sign up with Google</a>
        </div>
        <div class="offset-1 col-7">
            <a class="edit" href="/edit.html">Ввести учетные данные openid</a>
        </div>
    </div>
    
   
    
    {% else %}
    <ul class="nav sign_nav" id="myTab" role="tablist">
    	<li class="nav-item sign-item">
    	    <a class="nav-link sign-link" id="in-tab" href="login.html">SIGN IN</a>
    	</li>
    	<li class="nav-item sign-item">
    	    <a class="nav-link sign-link" id="up-tab" href="register.html">SIGN UP</a>
    	</li>
    </ul>
    {% endif %}

</body>
</html>
{% endblock %}