{% extends "mainApp/wrapper.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {% load static %}
	<link rel="stylesheet" href="{% static 'mainApp/css/wrapper_styles.css' %}" type="text/css">

</head>
<body>
    {% if user.is_authenticated %}
    <a href='{% url "social:begin" "google-oauth2" %}' style="color: white; background-color: black;">Login with Google</a>
    <p>{{ info }}</p>
    <p style="color: white; background-color: black;">Задарова, {{user.username}}. Скоро мы заживем!</p>
    <a href="/account/logout.html" style="color: white; background-color: black;">Ну, бывай</a>
    {% else %}
    <ul class="nav sign_nav" id="myTab" role="tablist">
    	<li class="nav-item sign-item">
    	    <a class="nav-link sign-link" id="in-tab" href="login.html">SIGN IN</a>
    	</li>
    	<li class="nav-item sign-item">
    	    <a class="nav-link sign-link" id="up-tab" href="register.html">SIGN UP</a>
    	</li>
    </ul>
    {% endif %}

</body>
</html>
{% endblock %}