@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.container-fluid{
	padding: 0;
}
.main{
	background-image: url(../img/bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding-top: 75px;
	padding-bottom: 1px;
}
.header{
	background-color: black;
	height: 75px;
	vertical-align: middle;
	font-family: 'Roboto', sans-serif;

	position: fixed;
	width: 100%;
	z-index: 1000;
}
.head-cont{
	padding: 0;
}
.nav{
	height: 75px;
	align-items: center;
}
.header-list{
	margin: 0;
	background-color: black;
	width: 100%;
}
.navbar{
	padding: 0;
}
.header-link{
	color: #666666;
	padding-top: 22px;
	padding-bottom: 22px;
	white-space: nowrap;
	font-size: .75em;

	display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.header-link-active{
	border-top: 2px solid #ff9933;
	color: white !important;
}
.header-link:hover{
	color: white;
}
.fa-calendar-alt, .fa-chart-bar, .fa-window-restore, .fa-th-large, .fa-user{
	font-size: 1.75em;
	color: #ff9933;
	padding-right: 5px;
}




/*
for test
*/
.col-10{
	width: 1000px;
	height: 1000px;
	padding: 0;
	padding-top: 30px;
	padding-left: 8px;
	padding-bottom: 30px;
}
.col-2{
	margin-top: 1px;
	padding: 0;
}
.col-10 > .container{
	background-color: white;
	width: 100%;
	height: 900px;
	padding: 0;
}
.col-2 > .container{
	background-color: #191818;
	width: 100%;
	height: 100%;
	padding: 0;
}
.sidebar{
	padding-top: 9px;
	backface-visibility: hidden;
	font-family: 'Roboto', sans-serif;
	padding-left: 0;
}
.sidebar-item{
	list-style: none;
	color: #999999;
	font-size: .75rem;
	margin: 20px 0;
}

.sidebar-item-link:before, .sidebar-link:before{
	content: "▾";
	font-size: 30px;
	color: #999999;
	padding: 5px 10px;
}
.sidebar-item-link{
	color: #999999;
	font-size: .75rem;
	padding-right: 102px;
	display: inline-flex;
	margin-bottom: -11px;
	align-items: center;

}
.sidebar-item-link-active{
	border-left: 2px solid red;
	color: white;


}
.sidebar-link{
	font-size: .75rem;
	color: #999999;
	display: inline-flex;
	align-items: center;
}
.sidebar-item-link:hover, .sidebar-link:hover{
	text-decoration: none;
	color: white;
}
.submenu{
	border-top: 0.5px solid #333333;
	padding: 15px 5px 20px 15px;
	margin-top: 11px;
}
.submenu-item{
	list-style-type: none;
}
.down:after{
	margin-left: 8px;
}
.submenu{
	position: relative;
	left: 0;
	display: none;
	opacity: 0;
	z-index: 5;
	transform: perspective(600px) rotateX(-90deg);
	transform-origin: 0% 0%;
	transition: .6s ease-in-out;

}
.submenu-active{
	display: block;
	transition: .6s ease-in-out;
	top: 0;
	opacity: 1;
	transform: perspective(600px) rotateX(0deg);
	background-color: black;
}






iframe{
	border-width: 0;
}
.tab-content{
	height: 100%;
	overflow: hidden;
} 
.tab-pane{
	height: 100%;
}

.disk-changer{
	background-color: #f2f2f2;
	height: 40px;
	display: flex;
	justify-content: flex-start; 
	align-items: center;
	padding: 5px;
	padding-left: 62px;

}
.changer_link{
	color: #999999;
}
.changer_link:hover{
	color: inherit;
	text-decoration: none;
}
.disk-item{
	padding: 0 10px;
}


.footer{
	height: 75px;
	background-color: black;
	padding: 20px;

}
.footer_description{
	text-align: center;
}
.footer > .container{
	margin: 0 auto;
}



@media screen and (max-width: 992px){
	.header-list{
		width: auto;
	}
}