{% extends "mainApp/wrapper.html" %}
{% block content %}

<div class="container">
<!--	<iframe  seamless src="https://notepadonline.ru/app" width="100%" height="95%" align="center" border="0"></iframe>-->
<!--	<iframe  seamless src="https://listick.ru/user#!/group/693848" width="100%" height="95%" align="center" border="0"></iframe>-->
	<iframe  seamless src="https://nimbusweb.me/ws/165kb9mjbxfd3kxs/recent/note/uhox0NEHVZ9KfxIL" width="100%" height="95%" align="center" border="0"></iframe>
</div>

{% endblock%}