.help_head, .help_block_heading{
	border-bottom: 1px solid #ffcc33;
	padding-bottom: 2px;
	width: 65%;
	white-space: nowrap;
}

.help_head, .help_block_heading, .help_block_description{
	color: white;
}
.help_block_description{
	font-size: 14px;
}

.help-container{
	background-color: rgba(8, 8, 8, 0.8)!important;
	padding: 20px !important;
	height: 1200px !important;
}

h3,h4,h5 {
    width: auto;
}

