@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.container-fluid{
	padding: 0;
}

.header{
	background-color: black;
	height: 75px;
	vertical-align: middle;
	font-family: 'Roboto', sans-serif;

	position: fixed;
	width: 100%;
	z-index: 1000;
}
.head-cont{
	padding: 0;
}
.nav{
	height: 75px;
	align-items: center;
}
.header-list{
	margin: 0;
	background-color: black;
	width: 100%;
}
.navbar{
	padding: 0;
}
.header-link{
	color: #666666;
	padding-top: 22px;
	padding-bottom: 22px;
	white-space: nowrap;
	font-size: .75em;

	display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.header-link-active{
	border-top: 2px solid #ff9933;
	color: white !important;
}
.header-link:hover{
	color: white;
}
.fa-calendar-alt, .fa-chart-bar, .fa-window-restore, .fa-th-large, .fa-user{
	font-size: 1.75em;
	color: #ff9933;
	padding-right: 5px;
}



.main{
	background-image: url(../img/bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding-top: 75px;
	padding-bottom: 1px;
}
iframe{
	border-width: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    background-color: transparent;
    outline: none;
}
@-webkit-keyframes autofill {
  to {
    color: white;
    background: transparent;
  }
}
 
input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}




.footer{
	height: 75px;
	background-color: black;
	padding: 20px;

}
.footer_description{
	text-align: center;
	color: light-gray;
	
	
}

.footer_description:hover {
	text-decoration: none;
	
}
.footer > .container{
	margin: 0 auto;
}



@media screen and (max-width: 992px){
	.header-list{
		width: auto;
	}
}

