.helptext, .field_log > ul, .field_log > p > label{
	display: none;
}
.sign_nav{
	margin-top: 60px;
	justify-content: center;
}
.sign-link{
	font-size: 24px;
	color: white;
	font-weight: 700;
	padding: 5px 0;
	margin: 0 20px;
}
.sign-link:hover{
	color: white;
}
.sign-link-active{
	border-bottom: 2px solid #ffcc33;
}

#id_password, #id_password1, #id_password2, #id_username, #id_url_of_notes, #id_url_of_disk, 
#id_homework_link, #id_aims_link, #id_todo_link, #id_name, #id_email, #id_sfedu_username,
#id_sfedu_pass{
	background: none;
	border: none;
	border-bottom: 1px solid white;
	width: 350px;
	height: 30px;
	margin-bottom: 60px;
	color: white;
	font-size: 18px;
}

.but-log{
	padding: 13px 50px;
	background-color: #CC6633;
	border-radius: 25% 0;
	border: none;
	outline: none;
	margin-top: 40px;
	color: white;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;

}
.but-log:focus{
	outline: none;
}
.field_log{
	text-align: center;
}


.wrap{
	margin: 0 200px;
    padding-bottom: 20px;
    background-color: rgba(8,8,8, 0.8);
}

.user_row{
	background-color: rgba(8, 8, 8, 0.55);
	padding-top: 30px;
	margin-left: 20px;
	height: 100%
}
.profile_img{
	width: 165px;
	height: 185px;
	object-fit: cover;
	margin-bottom: 20px;
}
.profile_info, .profile_name, .exit{
	color: white;
}
.exit{
	display: block;
	text-decoration: none;
	padding-top: 5px;
	margin-bottom: 40px;
	width: 165px;
}
.exit:hover{
	color: white;
}
.edit, .google, .exit{
	color: #ff9933;
	font-weight: 700;
	padding: 10px 5px;
	background-color: rgba(8, 8, 8, 0.8);
	text-align: center;
}
.edit:hover, .google:hover, .exit:hover{
	color: #ff9933;
	text-decoration: none;
}