.set_head{
	color: white;
	text-align: center;
	margin-bottom: 40px;
}
.set_but{
	margin-bottom: 20px;
}
.wrap_set{
	padding: 20px;
    background-color: rgba(8,8,8, 0.8);
    margin-top: 0;
}
.settings{
	font-size: 30px;
}
.settings:hover{
	text-decoration: none;
}
.brs_sync_set{
	
}
.brs_sync_set:hover{
	text-decoration: none;
}
.brs_refresh{
	font-size: 30px;
	height: 40px;
    color: black;
    float: right;
    padding-right: 10px;
}
.brs_sync_set{
	color: #fa8e2b;
	font-size: 39px;
}
.brs_sync_set:hover{
	color: #fa8e2b;
	text-decoration: none;
}

.brs_refresh:hover{
	color: black;
	text-decoration: none;

}
.wrap_set > form > .row > p > label{
	color: white;
}
.wrap_set > form > .row > p{
	width: 100%;
}
.wrap_set > form > .row{
	justify-content: center;
}
#id_url_of_notes, #id_url_of_disk, #id_homework_link, #id_aims_link, #id_todo_link, #id_name{
	margin-bottom: 20px;
}
#id_name > option {
	background-color: rgba(8, 8, 8, 0.95);
}